{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h1 class="mb-4 text-center w-100">Как писать документы</h1>
    </div>
</div>
            
<div class="document-content mb-4">
<p>Данный портал поддерживает большую часть синтаксиса классического Markdown, так и некоторые расширения.<br>
В основе лежит работа с документами написанными в редакторе Obsidian.<br>
Создавать\Редактировать документы рекомендуется в Obsidian, а так же придерживаться той же структуры файлов и папок, что изначально есть в Obsidian.</p>
<p>Для установки Obsidian перейдите на страницу проекта и скачайте последнюю актуальную версию: <a href="https://obsidian.md/">Obsidian </a></p>
<p>Поддерживаемый синтаксис Markdown:<br>
- Форматирование текста:<br>
    - Жирный<br>
    - Курсив<br>
    - Зачеркнутый<br>
    - Подчеркнутый<br>
    - Выделение цветом<br>
- Цитирование<br>
- Таблицы<br>
- Выделение блока кода<br>
- Списки<br>
- Разделители<br>
- Ссылки<br>
- Картинки<br>
- Чекбоксы</p>
<p>Некоторые особенности написания текста, применимые в данном проекте<br>
1. Возможность указывать расположение картинки (По центру или слева)<br>
   Для этого при указании картинки необходимо сделать так: <br>
   - <code>![[exemple.png | L]]</code> - Картинка будет прижата к левой стороне<br>
   - <code>![[exemple.png]]</code> - Картинка будет по центру<br>
2. Чтобы указать Перечеркнутый текст нужно использовать конструкцию: <code>&lt;del&gt;зачеркнутый&lt;/del&gt;</code><br>
3. Чтобы указать подчеркнутый текст: <code>&lt;u&gt;Подчёркнутый текст&lt;/u&gt;</code><br>
4. Выделение цветом: <code>==цветом==</code><br>
5. В программе настроена обязательная группировка, для этого используются свойства документа.<br>
6. Реализована возможно блокировать документы от всех, настраивая на них пароль, реализовано через свойства документа.</p>
<p>О свойствах в документе:</p>
<pre class="codehilite language-md" tabindex="0"><code class="language-md">    ---
    group: Особое
    subgroup: Разработки
    description: Личные разработки для упрощения работы
    password: l137784
    ---
</code></pre>

<p>Где:</p>
<ul>
<li><code>group</code> - является группой и по ней и происходит группировка;</li>
<li><code>subgroup</code> - Поле для внутренней классификации</li>
<li><code>description</code> - Краткое описание документа, используется в поиске по проекту</li>
<li><code>password</code> - Позволяет заблокировать статью и позволяет ее прочитать только тому, кто знает пароль.</li>
</ul>
<h3 id="_1">Подключение к хранилищу</h3>
<p>Важной особенностью данной системы является то, что все документы хранятся в обычной Markdown разметке (с некоторыми дополнениями) которые есть в Obsidian.</p>
<p>Для работы с документами, необходимо подключится к Хранилищу Obsidian, которое расположено на сетевом ресурсе <code>\\fs1\IT\Sulima\work-house</code> <br>
Если вы работаете с Островского и ваш компьютер внесен в домен, тогда для вас это сетевой диск <code>T</code><br>
Если на Александрова, тогда вам необходимо подключится используя строку описанную выше. </p>
<blockquote>
<p>После подключения, все настройки для работы у вас подтянутся автоматически.</p>
</blockquote>
<p>Важно не ломать созданной архитектуры, где документы хранятся в папке <code>База знаний</code>, а все вложения, включая картинки, видео и прочее в папке <code>Вложения</code></p>
<blockquote>
<p>На момент 12.08.2025 - Не поддерживаются вложенные папки нигде!</p>
<p>ВАЖНО! Если есть потребность писать локальные заметки в данной системе, просьба создать отдельное локальное хранилище на своем компьютере!</p>
</blockquote>
        </div>
{% endblock %}